@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Core Styles */

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: white;
    margin: 0;
    padding: 0;
}

/* Thumbnail Styles */

.thumbnail{

    background: #ffffff url("image.png") no-repeat right top;
    background-size: cover;

    cursor: pointer;

    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin: 1em;

    float: left;

}

.cover > h1{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.cover{

    font-size: 50%;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    transform-origin: center center;
    
    background: rgba(0,0,0,0.5);

    transition: all ease-in-out 200ms;

}

/* Initial Transition States */ 

.top-to-bottom{
    transform: translateY(-100%);
}

.bottom-to-top{
    transform: translateY(100%);
}

.right-to-left{
    transform: translateX(-100%);
}

.left-to-right{
    transform: translateX(100%);
}

.explode-left{
    width: 0;
    height: 0;
    opacity: 0;
    transform: rotate(45deg);
}

.explode-right{
    width: 0;
    height: 0;
    opacity: 0;
    transform: rotate(-45deg);
}


/* Hover Transition States */

.thumbnail:hover .top-to-bottom{
    transform: translateY(0);
}
.thumbnail:hover .bottom-to-top{
    transform: translateY(0);
}

.thumbnail:hover .right-to-left{
    transform: translateX(0);
}

.thumbnail:hover .left-to-right{
    transform: translateX(0);
}

.thumbnail:hover .explode-left{
    opacity: 1;
    width: 100%;
    height: 100%;
    transform: rotate(0);
    transform: skew(45deg);
}

.thumbnail:hover .explode-right{
    opacity: 1;
    width: 100%;
    height: 100%;
    transform: rotate(0);
    transform: skew(135deg);
}

.thumbnail:hover .explode-left * {
    transform: skew(-45deg);
    left: 30%;
    top: 30%;
}

.thumbnail:hover .explode-right * {
    transform: skew(45deg);
    left: 30%;
    top: 30%;
}